/* ------hotel-mobile----- */
.double-room >.container {
  position: relative;
  /* outline: 1px solid rgb(9, 198, 62); */
}
.double-room {
  padding-top: 32px;
  padding-bottom: 32px;
  margin: 0;
  background-color: var(--main-bkg-color);
  /* outline: 1px solid rgb(236, 130, 9); */
}

.double-room-text {
  margin-bottom: 32px;
}

.double-room-text1 {
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  color: var(--light-grey-color);
  margin-bottom: 8px;
}

.double-room-text2 {
  font-family: 'Film P3';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.07;
  letter-spacing: 0.3em;
  color: var(--dark-color);
  margin-bottom: 32px;
}

.double-room-title {
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--black-color);
  max-width: 277px;
  margin-bottom: 12px;
}

.double-room-text3 {
  text-align: left;
  font-style: normal;
  font-size: 12px;
  line-height: 1.25;
  color: var(--hotel-main-color);
  width: 258px;
}

.double-room-img {
  margin-left: auto;
  margin-bottom: 32px;
  background: #dadada;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.hotel-double-room-slider {
  display: flex;
  gap: 16px;
  flex-direction: row-reverse;
  margin-right: 115px;
  margin-bottom: 72px;
}

@media screen and (max-width: 413px) {
  .hotel-double-room-slider {
    margin-right: 89px;
  }
  .hotel-double-room-slider-img {
    min-width: 150px;
}
}
@media screen and (min-width: 414px) {
  .hotel-double-room-slider-img {
    flex-shrink: 0;
  }
}

.double-room-transfer {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.double-room-link {
  padding-top: 14px 64px;
  width: 236px;
  height: 48px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  background: var(--black-color);
  border: 2px solid var(--main-bkg-color);
  border-radius: 25px;
  border: none;
  transition: background-color var(--timing-function) var(--timing-duration);
    /* border 250ms ease(0.4, 0, 0.2, 1); */
}
/* ================== buttons-narrows================== */
.slider-narrows-double {
  position: absolute;
  bottom: 140px;
  left: 16px;
  display: flex;
  gap: 34px;
}
.double-room-btn {
  width: 236px;
  height: 48px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  background: var(--black-color);
  border: 2px solid var(--main-bkg-color);
  border-radius: 25px;
  border: none;
  transition: background-color var(--timing-duration) var(--timing-function),
    border var(--timing-duration) var(--timing-function);
}

/* -----hotel-tablet----- */

@media screen and (min-width: 1024px) {
    .double-room >.container {
    padding-left: 0;
    padding-right: 0;
      }
  .double-room {
    padding-top: 62px;
    padding-bottom: 104px;
    background-color: var(--main-bkg-color);
  }

  .double-room-list {
    position: relative;
    margin-bottom: 215px;
  }

  .double-room-text1 {
    width: 314px;
    margin-bottom: 4px;

    font-size: 32px;
    line-height: 1.15;
    color: var(--light-grey-color);
  }

  .double-room-text2 {
    width: 202px;
    margin-bottom: 62px;

    font-size: 64px;
    line-height: 1.08;
    letter-spacing: 0.3em;
    color: var(--dark-color);
  }

  .double-room-title {
    max-width: 340px;
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 1.14;
    letter-spacing: 0.05em;
    color: var(--black-color);
  }

  .double-room-text3 {
    width: 439px;
    text-align: left;

    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: var(--hotel-main-color);
  }

  .double-room-img {
    position: absolute;
    top: -94px;
    right: 65px;
    z-index: 100;
    overflow: visible;
    background: #dadada;
    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
    margin-bottom: 0;
  }

  .hotel-double-room-slider-transfer {
    flex-direction: row;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
  }

  .hotel-double-room-slider {
    margin-bottom: 0;
    flex-direction: row;
    gap: 40px;
  }

  .double-room-transfer {
    align-items: end;
  }
  .slider-narrows-double {
    bottom: -58px;
    left: 330px;
  }
}

/* -----hotel-desktop----- */

@media screen and (min-width: 1280px) {
  .double-room {
    padding-top: 72px;
    padding-bottom: 112px;
    background-color: var(--main-bkg-color);
  }

  .double-room-title {
    max-width: 409px;
    margin-bottom: 24px;
    font-size: 36px;
  }

  .double-room-text3 {
    width: 400px;
  }

  .hotel-double-room-slider {
    flex-direction: row-reverse;
  }

  .double-room-link:hover,
  .double-room-link:focus {
    background-color: var(--light-color);
    border: 2px solid var(--accent-color);
    transition: background-color 250ms ease(0.4, 0, 0.2, 1),
      border 250ms ease(0.4, 0, 0.2, 1);
  }

  .double-room-btn:hover,
  .double-room-btn:focus {
    background-color: var(--light-color);
    border: 2px solid var(--accent-color);
    transition: background-color 250ms ease(0.4, 0, 0.2, 1),
      border 250ms ease(0.4, 0, 0.2, 1);
  }
  .slider-narrows-double{
    bottom: -65px;
    left: 450px;
  }
}
