
/* ------hotel-mobile----- */

.double-room {
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 0;
    background-color: var(--main-bkg-color);
    
}

.double-room-text {
    margin-bottom: 32px;
}

.double-room-text1 {
    width: 199px;
    margin-bottom: 8px;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    color: var(--light-grey-color);
}

.double-room-text2 {
    width: 127px;
    margin-bottom: 32px;
    font-family: 'Film P3';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.07;
    letter-spacing: 0.3em;
    color:var(--dark-color);
}

.double-room-title {
    max-width: 277px;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    color: var(--black-color);
}

.double-room-text3 {
    width: 258px;
    text-align: left;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: var(--hotel-main-color);
}

.double-room-img {
   
    margin-left: auto;
    margin-bottom: 32px;
    background: #DADADA;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    
}


.hotel-double-room-slider {
    display: flex;
    gap: 16px;
    margin-right: 115px;
    flex-direction: row-reverse;
    margin-bottom: 72px;
  }

  @media screen and (max-width: 413px){
    .hotel-double-room-slider {
     margin-right: 53px;
    }
    }
    
    @media screen and (min-width: 414px) {
      .hotel-double-room-slider-img {
        flex-shrink: 0;
      }
    }

.double-room-transfer {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    

}

.double-room-link {
    
    padding-top: 14px 64px;
    width: 236px;
    height: 48px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    background: var(--black-color);
    border: 2px solid var(--main-bkg-color);
    border-radius: 25px;
    border: none;
}

.double-room-btn {
  
    width: 236px;
    height: 48px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    background: var(--black-color);
    border: 2px solid var(--main-bkg-color);
    border-radius: 25px;
    border: none;
}

/* -----hotel-tablet----- */

@media screen and (min-width: 1024px) {
 
.double-room {
       
        padding-top: 64px;
        padding-bottom: 104px;
        background-color: var(--main-bkg-color);
        
    }

  
    .double-room-list {
        position: relative;
        margin-bottom: 215px;
    }



    .double-room-text1 {
        width: 314px;
        margin-bottom: 4px;
       
        font-size: 32px;
        line-height: 1.15;
        color: var(--light-grey-color);
    }

    .double-room-text2 {
        width: 202px;
        margin-bottom: 72px;
        
        font-size: 64px;
        line-height: 1.08;
        letter-spacing: 0.3em;
        color:var(--dark-color);
    }

    .double-room-title {
        max-width: 340px;
        margin-bottom: 16px;
        font-size: 30px;
        line-height: 1.14;
        letter-spacing: 0.05em;
        color: var(--black-color);
    }

    .double-room-text3 {
        width: 439px;
        text-align: left;
        
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        color: var(--hotel-main-color);
    }

    .double-room-img {
        position: absolute;
        top: -94px;
        right: 66px;
        z-index: 100;
        overflow: visible;
        background: #DADADA;
        box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
        
        
    }
    
    .hotel-double-room-slider {
        margin-bottom: 0;      
        flex-direction: row;
        
        gap: 40px;
      }

      .double-room-transfer {
        
       
        align-items: end;
        
    
    }

}

/* -----hotel-desktop----- */

@media screen and (min-width: 1280px) {
 
    .double-room {
           
            padding-top: 72px;
            padding-bottom: 112px;
            background-color: var(--main-bkg-color);
            
        }

        .double-room-title {
            max-width: 409px;
            margin-bottom: 24px;
            font-size: 36px;
          
        }

        .double-room-text3 {
            width: 400px;
            
            
            
        }


    }