/* HERO-HOTEL */

.hero-hotel-overlay {
  min-width: 320px;
  min-height: 740px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      var(--gradient-bkg)
    ),
    url('../../img/mobile/Mob-hotel/mob-hotel-hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-hotel-overlay {
    background-image: linear-gradient(
        to right,
        var(--gradient-bkg)
      ),
      url('../../img/mobile/Mob-hotel/mob-hotel-hero.jpg@2x');
  }
}
/* tablet screen */
@media screen and (min-width: 1024px) {
  .hero-hotel-overlay {
    min-height: 720px;
    background-image: linear-gradient(
        to right,
        var(--gradient-bkg)
      ),
      url('../../img/tablet/Tablet_hotel/tab-hotel-hero.jpg');
  }
}
@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2),
  (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2),
  (min-width: 1024px) and (min-resolution: 192dpi),
  (min-width: 1024px) and (min-resolution: 2dppx) {
  .hero-hotel-overlay {
    background-image: linear-gradient(
        to right,
        var(--gradient-bkg)),
      url('../../img/tablet/Tablet_hotel/tab-hotel-hero@2x.jpg');
  }
}
/* desk screen  */
@media screen and (min-width: 1280px) {
  .hero-hotel-overlay {
    min-height: 720px;

    background-image: linear-gradient(
        to right,
        var(--gradient-bkg)
      ),
      url('../../img/desktop/Desktop_hotel/desk-hotel-hero.jpg');
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2),
  (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2),
  (min-width: 1280px) and (min-resolution: 192dpi),
  (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero-hotel-overlay {
    background-image: linear-gradient(
        to right,
        var(--gradient-bkg)
      ),
      url('../../img/desktop/Desktop_hotel/desk-hotel-hero@2x.jpg');
  }
}

.hero-title.hotel {
    margin-bottom: 32px;
}

.hero-type.hotel {
    margin-bottom: 178px;
}
@media screen and (min-width: 1024px) {
  .hero-type.hotel {
    margin-bottom: 218px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-type.hotel {
    margin-bottom: 242px;
  }
}