
.hero-rest-overlay {
  min-width: 320px;
  min-height: 740px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      var(--gradient-bkg)
    ),
    url(../../img/mobile/Mob-rest/mob-rest-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-rest-overlay {
    background-image: linear-gradient(
        to right,
        var(--gradient-bkg)
      ),
      url(../../img/mobile/Mob-rest/mob-rest-hero@2x.jpg);
  }
}
/* tablet screen */
@media screen and (min-width: 1024px) {
  .hero-rest-overlay {
    min-height: 720px;
    background-image: linear-gradient(
        to right,
        var(--gradient-bkg)
      ),
      url(../../img/tablet/Tablet_rest/tab-rest-hero.jpg);
  }
}
@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2),
  (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2),
  (min-width: 1024px) and (min-resolution: 192dpi),
  (min-width: 1024px) and (min-resolution: 2dppx) {
  .hero-rest-overlay {
    background-image: linear-gradient(
        to right,
        var(--gradient-bkg)
      ),
      url(../../img/tablet/Tablet_rest/tab-rest-hero.jpg);
  }
}
/* desk screen  */
@media screen and (min-width: 1280px) {
  .hero-rest-overlay {
    min-height: 720px;
    max-width: 1280px;
    background-image: linear-gradient(
        to right,
        var(--gradient-bkg)
      ),
      url(../../img/desktop/Desrtop_rest/desk-rest-hero.jpg);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2),
  (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2),
  (min-width: 1280px) and (min-resolution: 192dpi),
  (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero-rest-overlay {
    background-image: linear-gradient(
        to right,
        var(--gradient-bkg)
      ),
      url(../../img/desktop/Desrtop_rest/desk-rest-hero@2x.jpg);
  }
}