.rest-menu {
  background-color: var(--main-bkg-color);
  padding-top: 58px;
  padding-bottom: 32px;
  /* justify-content: center; */
  /* margin-right: 0;
    margin-left: 0; */

  /* background-color: #F0ECD6; */
}
.restaurant-menu-title {
  font-family: 'Times New Roman';
  font-weight: 700;
  font-size: 32px;
  line-height: calc(37 / 32);
  margin-bottom: 40px;
  color: var(--black-color);
}

.restaurant-menu-title-text {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  color: var(--black-color);
  margin-bottom: 20px;
  margin-top: 20px;
}
.restaurant-menu-text {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(17 / 14);
  letter-spacing: 0.02em;
  margin-bottom: 4px;
  color: var(--black-color);
}
.restaurant-menu-text-meal {
  width: 220px;
  font-weight: 400;
  font-size: 10px;
  line-height: calc(12 / 10);
  letter-spacing: 0.02em;
  color: var(--black-color);
}

.restaurant-menu-weight {
  width: 40px;
  height: 17px;
  font-weight: 300;
  font-size: 14px;
  line-height: calc(17 / 14);
  margin-left: auto;
  color: var(--black-color);
}
.restaurant-menu-price {
  width: 60px;
  height: 17px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(17 / 14);
  letter-spacing: 0.02em;
}
.restaurant-menu-item {
  margin-bottom: 8px;
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 32px;
  align-items: center;
}

.holder {
  max-width: 225px;
  min-width: 225px;
  /* margin-right: 32px; */
  /* margin-right: 10px; */
}
.inner-wraper {
  display: flex;
  align-items: center;
  /* justify-content:space-between;  */
}

.restaurant-btn {
  /* display:flex; */
  display: block;
  position: relative;
  width: 236px;
  height: 48px;
  /* margin-left:auto;
  margin-right: auto; */
  background: var(--black-color);
  border: 2px solid var(--last-bkg-color);
  border-radius: 25px;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.02em;
  color: var(--accent-color);
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin: 32px auto 32px;
}
.restaurant-btn:hover,
.restaurant-btn:focus {
  background: var(--light-color);
  border: 2px solid var(--accent-color);
  border-radius: 25px;
}

.rest-menu {
  background-color: var(--main-bkg-color);
  padding-top: 58px;
}
@media screen and (min-width: 1024px) {
  .menu {
    max-width: 1024px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 20px;
    margin-right: 20px;
  }
  .left-wrap {
    display: inline;
  }
  .holder {
    max-width: 257px;
  }
  .rest-menu {
    background-color: var(--last-bkg-color);
    padding-top: 58px;
    margin-right: 0;
    margin-left: 0;
  }

  .restaurant-menu-item {
    margin-bottom: 8px;
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 47px;
    align-items: center;
  }
  .rest-left-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .restaurant-menu-title {
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 32px;
  }
  .restaurant-menu-text {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(17 / 14);
  }
  .restaurant-menu-title-text {
    font-weight: 700;
    font-size: 20px;
  }

  .restaurant-menu-weight {
    font-weight: 300;
    font-size: 14px;
    margin-left: auto;
    margin-right: 0;
  }
  .restaurant-menu-price {
    font-weight: 700;
    font-size: 14px;
    /* margin-left: 48px; */
    margin-right: 0;
  }
  .restaurant-btn {
    margin-right: 0;
    margin-left: auto;
    margin-top: 67px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .menu {
    max-width: 100%;
    margin-left: 80px;
    margin-right: 80px;
  }
  .left-wrap {
    display: inline;
  }
  .holder {
    max-width: 220px;
  }
  .rest-menu {
    background-color: var(--last-bkg-color);
    padding-top: 58px;
    margin-right: 0;
    margin-left: 0;
  }

  .restaurant-menu-text-meal{
    width: 257px;
  }
  .restaurant-menu-title-text {
    font-weight: 700;
    font-size: 24px;
    line-height: calc(28 / 24);
  }
  .restaurant-menu-text {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: 0.02em;
  }
  .rest-left-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .restaurant-menu-title {
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 32px;
  }

  .restaurant-menu-weight {
    font-weight: 300;
    font-size: 14px;
    margin-left: auto;
    margin-right: 0;
  }
  .restaurant-menu-price {
    width: 70px;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(20 / 16);
    margin-right: 0;
  }
  .restaurant-menu-item {
    margin-bottom: 8px;
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 60px;
    align-items: center;
  }
  .restaurant-btn {
    margin-right: 0;
    margin-left: auto;
    margin-top: 51px;
    margin-bottom: 60px;
  }
}
