.rest-menu {
  background-color: var(--main-bkg-color);
  padding-top: 58px;
  padding-bottom: 32px;
  min-width: 320px;
}

.restaurant-menu-title {
  font-family: 'Times New Roman';
  font-weight: 700;
  font-size: 32px;
  line-height: calc(37 / 32);
  margin-bottom: 40px;
  color: var(--black-color);
}

.restaurant-menu-name {
  margin-bottom: 20px;
  margin-top: 20px;
}
.restaurant-menu-name:first-child{
  margin-top: 0;
}

.restaurant-menu-title-text {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  margin-block-end: 0px;
  color: var(--black-color);
}

.restaurant-menu-text {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(17 / 14);
  letter-spacing: 0.02em;
  margin-bottom: 4px;
  color: var(--black-color);
}

.restaurant-menu-text-meal {
  font-weight: 400;
  font-size: 10px;
  line-height: calc(12 / 10);
  letter-spacing: 0.02em;
  color: var(--black-color);
}

.restaurant-menu-weight {
  width: 52px;
  height: 17px;
  font-weight: 300;
  font-size: 14px;
  margin-block-end: 0px;
  line-height: calc(17 / 14);
  margin-left: auto;
  color: var(--black-color);
}

.restaurant-menu-price {
  width: 62px;
  height: 17px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(17 / 14);
  letter-spacing: 0.02em;
}

.restaurant-menu-item {
  margin-bottom: 8px;
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 10px;
}

.inner-wraper {
  display: flex;
  align-items: center;
}

.restaurant-btn {
  display: block;
  position: relative;
  width: 236px;
  height: 48px;

  
  
  background-color: var(--black-color);
  border: 2px solid var(--last-bkg-color);
  border-radius: 25px;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.02em;
  color: var(--accent-color);
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin: 32px auto 0px;
  transition:background-color var(--timing-duration) var(--timing-function), 
  border var(--timing-duration) var(--timing-function);
  
}

.restaurant-btn:hover,
.restaurant-btn:focus {
  background-color: var(--light-color);
  border: 2px solid var(--accent-color);
  border-radius: 25px;
}

@media screen and (min-width: 414px) {
  .restaurant-menu-item {
    gap: 25px;
  }

  .restaurant-menu-text-meal {
    width: 220px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 960px;
  }

  .left-wrap {
    display: inline;
  }

  .holder {
    max-width: 220px;
  }
  .rest-menu {
    background-color: var(--last-bkg-color);
    padding-top: 58px;
    margin-right: 0;
    margin-left: 0;
  }

  .restaurant-menu-item {
    gap: 47px;
  }

  .rest-left-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .restaurant-menu-title {
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 32px;
  }

  .restaurant-menu-text {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(17 / 14);
  }

  .restaurant-menu-weight {
    font-weight: 300;
    font-size: 14px;
    margin-left: auto;
    margin-right: 0;
  }

  .restaurant-menu-price {
    font-weight: 700;
    font-size: 14px;
    margin-right: 0;
  }

  .restaurant-btn {
    margin-right: 0;
    margin-left: auto;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .left-wrap {
    display: inline;
  }

  .holder {
    max-width: 257px;
  }

  .rest-menu {
    background-color: var(--last-bkg-color);
    padding-top: 58px;
    margin-right: 0;
    margin-left: 0;
  }

  .restaurant-menu-title-text {
    font-size: 24px;
    line-height: calc(28 / 24);
  }

  .restaurant-menu-text {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: 0.02em;
  }
  .rest-left-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .restaurant-menu-title {
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 32px;
  }

  .restaurant-menu-weight {
    font-weight: 300;
    font-size: 14px;
    margin-left: auto;
    margin-right: 0;
  }

  .restaurant-menu-price {
    width: 70px;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(20 / 16);
    margin-right: 0;
  }

  .restaurant-menu-item {
    gap: 60px;
  }

  .restaurant-btn {
    margin-right: 0;
    margin-left: auto;
    margin-top: 51px;
    margin-bottom: 30px;
  }
}
