<section class="about-room">
  <div class="conteiner">
    <h2 class="about-room-section-title">ЗРУЧНОСТІ У НОМЕРІ</h2>
    <p class="about-room-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <h3 class="about-room-title">ЗАГАЛЬНІ</h3>
    <ul class="about-room-list">
      <li class="about-room-item">
        <p class="about-room-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </li>
      <li class="about-room-item">
        <p class="about-room-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </li>
    </ul>
    <h3 class="">ВАННА КІМНАТА</h3>
    <ul class="about-room-list">
      <li class="about-room-item">
        <p class="about-room-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </li>
      <li class="about-room-item">
        <p class="about-room-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </li>
    </ul>
    <h3 class="about-room-title">СПАЛЬНЯ</h3>
    <p class="about-room-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
    </p>
    <h3 class="about-room-title">КУХНЯ</h3>
    <ul class="about-room-list">
      <li class="about-room-item">
        <p class="about-room-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </p>
      </li>
      <li class="about-room-item">
        <p class="about-room-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </p>
      </li>
    </ul>
    <h3 class="about-room-title">МЕДІА</h3>
    <p class="about-room-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit.
    </p>
    <button type="button" class="about-room-button">ОФОРМИТИ БРОНЮВАННЯ</button>
    <a href="" class="about-room-link">
      <p class="about-room-text-link">Повернутися до перегляду номерів</p>
      <svg class="about-room-icon" width="24" height="24">
        <use href="../../img/icon.svg#icon-slider-right"></use>
      </svg>
    </a>
  </div>
</section>
