<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/css/fonts.css">
    <link rel="stylesheet" href="/src/css/base.css">
    <link rel="stylesheet" href="/src/css/modal.css">
    <title>Modal Win1</title>
  </head>
    <div class="modal-container">
      <section class="container">
        <form action="">
            <h2 class="modal-title">ЗАБРОНЮВАТИ СТОЛИК</h2>
            <label class="">
                <span class="modal-form-item">
                  <input type="text" name="name" placeholder="Ваше ім’я" class="modal-form-input">
                </span>
              </label>
            </form>
      </section>
    </div>
</html>
