<section class="hero-room">
  <div class="container">
    <h2 class="hero-room-title">ДВОМІСНИЙ НОМЕР люкс</h2>
    <p class="hero-room-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
      sint. Velit officia consequat duis enim velit mollit. Exercitation
      veniam consequat sunt nostrud amet.
    </p>
    <div>
      <div class="hero-room-adress-wrap">
        <svg class="hero-room-map-icon" width="12" height="20">
          <use href="./img/icon.svg#icon-location"></use>
        </svg>
        <a href="" class="hero-room-map-link link"
          >Україна, м. Полтава, вул. Маршала Бірюзова, 15</a
        >
        <ul class="hero-room-soc-list list">
          <li class="hero-room-soc-item">
            <svg class="hero-room-map-icon" width="22" height="22">
              <use href="./img/icon.svg#icon-instagram"></use>
            </svg>
          </li>
          <li class="hero-room-soc-item">
            <svg class="hero-room-map-icon" width="22" height="22">
              <use href="./img/icon.svg#icon-facebook"></use>
            </svg>
          </li>
          <li class="hero-room-soc-item">
            <svg class="hero-room-map-icon" width="22" height="22">
              <use href="./img/icon.svg#icon-telegram"></use>
            </svg>
          </li>
        </ul>
      </div>
      <button type="button" class="hero-room-button">
        Переглянути ціни
      </button>
    </div>
  </div>
</section>