<section class="hero-room">
    <div class="container">
      <a href="./index.html" class="hero-room-logo link">MIMIHO</a>
      <ul class="hero-room-list list">
        <li class="hero-room-item">
          <a href="" class="hero-room-link link">Ресторан</a>
          <address class="hero-room-tel">
            <svg class="hero-room-tel-icon" width="12" height="20">
              <use href="./img/icon.svg#icon-phone"></use>
            </svg>
            <a href="tel:+380955559533" class="contacts-nav-link link"
              >095 555 95
            </a>
          </address>
        </li>
        <li class="hero-room-item">
          <a href="" class="hero-room-link link">Готель</a>
          <address class="hero-room-tel">
            <svg class="hero-room-tel-icon" width="12" height="20">
              <use href="./img/icon.svg#icon-phone"></use>
            </svg>
            <a href="tel:+380955559533" class="contacts-nav-link link"
              >095 555 95
            </a>
          </address>
        </li>
      </ul>
      <ul class="hero-room-soc-list list">
        <li class="hero-room-soc-item">
          <svg class="hero-room-map-icon" width="22" height="22">
            <use href="./img/icon.svg#icon-instagram"></use>
          </svg>
        </li>
        <li class="hero-room-soc-item">
          <svg class="hero-room-map-icon" width="22" height="22">
            <use href="./img/icon.svg#icon-facebook"></use>
          </svg>
        </li>
        <li class="hero-room-soc-item">
          <svg class="hero-room-map-icon" width="22" height="22">
            <use href="./img/icon.svg#icon-telegram"></use>
          </svg>
        </li>
      </ul>
      <ul class="hero-room-slider list">
        <li class="hero-room-slider-icon">
          <svg class="hero-room-slider-icon-left" width="38" height="21">
            <use href="./img/icon.svg#icon-slider-left"></use>
          </svg>
        </li>
        <li class="hero-room-slider-icon">
          <svg class="hero-room-slider-icon-right" width="38" height="21">
            <use href="./img/icon.svg#icon-slider-right"></use>
          </svg>
        </li>
      </ul>
      <h1 class="hero-room-title">ДВОМІСНИЙ НОМЕР люкс</h1>
      <p class="hero-room-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <div>
        <svg class="hero-room-map-icon" width="12" height="20">
          <use href="./img/icon.svg#icon-location"></use>
        </svg>
        <a href="" class="hero-room-map-link link"
          >Україна, м. Полтава, вул. Маршала Бірюзова, 15</a
        >

        <button type="button" class="hero-room-button">
          Переглянути ціни
        </button>
      </div>
    </div>
  </section>