<section>
   <div>
        <p>Amet minim mollit non</p>
        <p>MIMIHO</p>
            <h2>ДВОМІСНИЙ НОМЕР люкс</h2>
                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                    <img src="/src/img/mobile/Mob-hotel/mob-hotel-modern-studio.jpg" alt="" width="244" height="322">          
      
            <div class="swiper">swiper</div>      
               <a href="">Детальніше</a>          
           <button>Переглянути ціни</button>
    </div>
</section>