<section>
    <p>Amet minim mollit non</p>
    <h2>MIMIHO</h2>
    <ul>
        <li>
            <h3>ДВОМІСНИЙ НОМЕР люкс</h3>
        </li>
        <li>
            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </li>
        <li>
            <img src="/src/img/vite-logo.png" alt="">          
        </li>
        <li>
            <a href="">swipeer</a>          
        </li>
        <li>
            <a href="">Детальніше</a>          
        </li>
        <button>Переглянути ціни</button>
    </ul>

</section>