<!-- hotel double-rooom -->
<section class="double-room">
  <div class="container double-room-container">
    <div class="double-room-list">
      <div class="double-room-text">
        <p class="double-room-text1">Amet minim mollit non</p>
        <p class="double-room-text2">MIMIHO</p>
        <h2 class="double-room-title">ДВОМІСНИЙ НОМЕР</h2>
        <p class="double-room-text3">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
          officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
      </div>
      <picture class="">
        <source srcset="
                    ./img/desktop/Desktop_hotel/desk-hotel-modern-studio.jpg 1x,
                    ./img/desktop/Desktop_hotel/desk-hotel-modern-studio@2x.jpg 2x
                  " media="(min-width: 1280px)" type="image/jpeg" width="460" height="574" />
        <source srcset="
                    ./img/tablet/Tablet_hotel/tab-hotel-modern-studio.jpg 1x,
                    ./img/tablet/Tablet_hotel/tab-hotel-modern-studio@2x.jpg 2x
                  " media="(min-width: 1024px)" type="image/jpeg" width="400" height="524" />
        <source srcset="
                    ./img/mobile/Mob-hotel/mob-hotel-modern-studio.jpg 1x,
                    ./img/mobile/Mob-hotel/mob-hotel-modern-studio@2x.jpg 2x
                  " media="(max-width: 1023px)" type="image/jpeg" width="244" height="322" />
        <img class="double-room-lux-img" src="/src/img/mobile/Mob-hotel/mob-hotel-modern-studio.jpg " alt="hotel room"
          max-width="460" height="322" />
      </picture>

    </div>
    <div>

      <div class="hotel-double-room-slider">
        <picture class="hotel-double-room-slider-img">
          <source srcset="
                    ./img/slider/mob/img2.jpg 1x,
                    ./img/slider/mob/img2@2x.jpg 2x
                    " media="(min-width: 1280px)" type="image/jpeg" width="254" height="254" />
          <source srcset="
                    ./img/slider/tablet/img2.jpg 1x,
                    ./img/slider/tablet/img2@2x.jpg 2x
                    " media="(min-width: 1024px)" type="image/jpeg" width="194" height="194" />
          <source srcset="
                    ./img/slider/tablet/img2.jpg 1x,
                    ./img/slider/tablet/img2@2x.jpg 2x
                    " media="(max-width: 1023px)" type="image/jpeg" width="194" height="194" />
          <img class="slider-img" src="./img/slider/tablet/img2.jpg " alt="room" width="194" height="194" />
        </picture>
        <picture class="hotel-double-room-slider-img">
          <source srcset="
                        ./img/slider/mob/img3.jpg 1x,
                        ./img/slider/mob/img3@2x.jpg 2x
                        " media="(min-width: 1280px)" type="image/jpeg" width="254" height="254" />
          <source srcset="
                        ./img/slider/mob/img3.jpg 1x,
                        ./img/slider/mob/img3@2x.jpg 2x
                        " media="(min-width: 1024px)" type="image/jpeg" width="194" height="194" />
          <source srcset="
                        ./img/slider/mob/img3.jpg 1x,
                        ./img/slider/mob/img3@2x.jpg 2x
                        " media="(max-width: 1023px)" type="image/jpeg" width="194" height="194" />
          <img class="slider-img" src="./img/slider/mob/img3.jpg " alt="room" width="194" height="194" />
        </picture>

      </div>


      <div class="double-room-transfer">
        <a href="./room.html" class="double-room-link">Детальніше</a>
        <button name="button" type="button" class="double-room-btn" data-modal-open>Переглянути ціни</button>
      </div>
    </div>
  </div>
</section>