<!-- hotel double-room-lux -->
<section class="triple">
  <div class="container triple-container">
    <div class="triple-list">
      <div class="triple-text">
        <p class="triple-text1">Amet minim mollit non</p>
        <p class="triple-text2">MIMIHO</p>
        <h2 class="triple-title">ТРЬОХМІСНИЙ НОМЕР</h2>
        <p class="triple-text3">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <picture class="">
        <source
          srcset="
            ./img/desktop/Desktop_hotel/desk-hotel-modern-studio.jpg    1x,
            ./img/desktop/Desktop_hotel/desk-hotel-modern-studio@2x.jpg 2x
          "
          media="(min-width: 1280px)"
          type="image/jpeg"
          width="460"
          height="574"
        />
        <source
          srcset="
            ./img/tablet/Tablet_hotel/tab-hotel-modern-studio.jpg    1x,
            ./img/tablet/Tablet_hotel/tab-hotel-modern-studio@2x.jpg 2x
          "
          media="(min-width: 1024px)"
          type="image/jpeg"
          width="400"
          height="524"
        />
        <source
          srcset="
            ./img/mobile/Mob-hotel/mob-hotel-modern-studio.jpg    1x,
            ./img/mobile/Mob-hotel/mob-hotel-modern-studio@2x.jpg 2x
          "
          media="(max-width: 1023px)"
          type="image/jpeg"
          width="244"
          height="322"
        />
        <img
          class="triple-img"
          src="/src/img/mobile/Mob-hotel/mob-hotel-modern-studio.jpg "
          alt="hotel room"
          max-width="460"
          height="322"
        />
      </picture>
    </div>
    <div class="slider-transfer">
      <div class="hotel-triple-room-slider wow fadeInRight">
        <picture class="hotel-triple-room-slider-img">
          <source
            srcset="
              ./img/slider/mob/img2.jpg    1x,
              ./img/slider/mob/img2@2x.jpg 2x
            "
            media="(min-width: 1280px)"
            type="image/jpeg"
            width="254"
            height="254"
          />
          <source
            srcset="
              ./img/slider/tablet/img2.jpg    1x,
              ./img/slider/tablet/img2@2x.jpg 2x
            "
            media="(min-width: 1024px)"
            type="image/jpeg"
            width="194"
            height="194"
          />
          <source
            srcset="
              ./img/slider/tablet/img2.jpg    1x,
              ./img/slider/tablet/img2@2x.jpg 2x
            "
            media="(max-width: 1023px)"
            type="image/jpeg"
            width="194"
            height="194"
          />
          <img
            class="slider-img"
            src="./img/slider/tablet/img2.jpg "
            alt="room"
            width="194"
            height="194"
          />
        </picture>
        <picture class="hotel-triple-room-slider-img">
          <source
            srcset="
              ./img/slider/mob/img3.jpg    1x,
              ./img/slider/mob/img3@2x.jpg 2x
            "
            media="(min-width: 1280px)"
            type="image/jpeg"
            width="254"
            height="254"
          />
          <source
            srcset="
              ./img/slider/mob/img3.jpg    1x,
              ./img/slider/mob/img3@2x.jpg 2x
            "
            media="(min-width: 1024px)"
            type="image/jpeg"
            width="194"
            height="194"
          />
          <source
            srcset="
              ./img/slider/mob/img3.jpg    1x,
              ./img/slider/mob/img3@2x.jpg 2x
            "
            media="(max-width: 1023px)"
            type="image/jpeg"
            width="194"
            height="194"
          />
          <img
            class="slider-img"
            src="./img/slider/mob/img3.jpg "
            alt="room"
            width="194"
            height="194"
          />
        </picture>
        <ul class="slider-narrows-triple">
          <li class="slider-narrows-left">
              <svg class="slider-narrows-left-icon" width="32" height="17">
                <use href="./img/icon.svg#icon-vector-left"></use>
              </svg>
            </li>
          <li class="slider-narrows-right">
            <svg class="slider-narrows-right-icon" width="32" height="17">
              <use href="./img/icon.svg#icon-vector-right"></use>
            </svg>
          </li>
        </ul>
      </div>
      <div class="triple-transfer">
        <a href="./room.html" class="triple-link">Детальніше</a>
         </button>
        <button name="button" type="button" class="triple-btn js-open-modal" data-modal="3">Переглянути ціни</button>
      </div>
    </div>
  </div>
</section>
