    <header>  
    <div class="container header-container"> 
        <nav class="header-nav">
            <!-- ЛОГО -->
            <a href="../index.html" class="logo">
                MIMIHO
            </a>
            <!-- НАВИГАЦИЯ + НОМЕРА -->
            <ul class="site-nav">
                <li class="current-restoraunt">
                    <a href="../restoraunt.html" class="site-item header-link">Ресторан</a>
                    <a href="tel:+380955559533" class="header-phone">095 555 95 33</a>
                    <a href="tel:+380955559533" class="worker-soc-link restoraunt-link">
                        <svg class="phone-icon" width="20" height="20" >
                            <use href="../img/icon.svg#icon-phone"></use>
                        </svg>
                    </a>
                </li>  
                <li class="current-hotel">
                    <a href="../hotel.html" class="site-item header-link">Готель</a>
                    <a href="tel:+380668491089" class="header-phone">066 849 10 89</a>
                    <a href="tel:+380668491089" class="worker-soc-link hotel-link">
                        <svg class="phone-icon" width="20" height="20" >
                            <use href="../img/icon.svg#icon-phone"></use>
                        </svg>
                    </a>
                </li>
            </ul>  
        </nav> 
         <!-- СОЦ-СЕТИ  -->
        <ul class="auth-list">
            <li class="auth-item">
                <a href="" class="site-soc-link">
                    <svg class="site-soc-icon" width="20" height="20" >
                        <use href="../img/icon.svg#icon-inst"></use>
                    </svg>
                </a>
            </li>
            <li class="auth-item">
                <a href="" class="site-soc-link">
                    <svg class="site-soc-icon" width="20" height="20" >
                        <use href="../img/icon.svg#icon-face"></use>
                    </svg>
                </a>
            </li>
            <li class="auth-item">
                <a href="" class="site-soc-link">
                    <svg class="site-soc-icon" width="20" height="20" >
                        <use href="../img/icon.svg#icon-telegram"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</header>
