<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/header.css">
</head>
<body>
    <header>  
    <div class="container header-container"> 
        <nav class="header-nav">
            <!-- ЛОГО -->
            <a href="../index.html" class="logo">
                MIMIHO
            </a>
            <!-- НАВИГАЦИЯ + НОМЕРА -->
            <ul class="site-nav">
                <li class="current-restoraunt">
                    <a href="../restoraunt.html" class="site-item header-link">Ресторан</a>
                    <li class="header-phone"><a href="tel:+380955559533" >095 555 95 33</a></li>                         
                    <a href="" class="worker-soc-link restoraunt-link">
                        <svg class="phone-icon" width="20" height="20" >
                            <use href="../img/icon.svg#icon-phone"></use>
                        </svg>
                    </a>
                </li>  
                <li class="current-hotel">
                    <a href="../hotel.html" class="site-item header-link">Готель</a>
                    <li class="header-phone"><a href="tel:+380668491089">066 849 10 89</a></li>
                    <a href="" class="worker-soc-link hotel-link">
                        <svg class="phone-icon" width="20" height="20" >
                            <use href="../img/icon.svg#icon-phone"></use>
                        </svg>
                    </a>
                </li>
            </ul>  
        </nav> 
        <div class="location">
            <!-- ЛОКАЦИЯ -->
            <div class="location-item">
                <a href="" class="location-link">
                    <svg class="location-icon" width="20" height="20" >
                        <use href="../img/icon.svg#icon-location"></use>
                    </svg>
                </a>
                <p class="location-text">
                    Україна, м. Полтава,
                    вул. Маршала Бірюзова, 15
                </p>
            </div>
        </div>
         <!-- СОЦ-СЕТИ  -->
        <ul class="auth-list">
            <li class="auth-item">
                <a href="" class="site-soc-link">
                    <svg class="site-soc-icon" width="20" height="20" >
                        <use href="../img/icon.svg#icon-inst"></use>
                    </svg>
                </a>
            </li>
            <li class="auth-item">
                <a href="" class="site-soc-link">
                    <svg class="site-soc-icon" width="20" height="20" >
                        <use href="../img/icon.svg#icon-face"></use>
                    </svg>
                </a>
            </li>
            <li class="auth-item">
                <a href="" class="site-soc-link">
                    <svg class="site-soc-icon" width="20" height="20" >
                        <use href="../img/icon.svg#icon-telegram"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</header>
</body>
</html>