/* Style for modal background */
      .body {
        font-family: 'Times New Roman', Times, serif;
        font-weight: 700;
      }

      select{
        appearance: none;
      }
      .select {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        background-image: url(/src/img/down-arrow.png);
        background-repeat: no-repeat;
        background-position: calc(100% - 3px) center;
        background-position-x: 347px;
      }
      .date-icon {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        background-image: url(/src/img/down-arrow.png);
        background-repeat: no-repeat;
        background-position: calc(100% - 3px) center;
        background-position-x: 347px;
      }
      .modal-form {
        padding-bottom: 20px;
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        flex-direction: column;
        width: 384px;
      }
      .modal {

        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
      }

      /* Style for modal content */
      .modal-content {
                border: 1px solid #F3C653;
        border-radius: 2px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 700;
        width: 42.5%;
        margin: 10% auto;
        padding: 20px;
        padding-bottom: 60px;
        border: 1px solid #888;
        background-color: #fffdee;
      }

      /* Style for close button */
      .close {
        float: right;
        font-size: 34px;
        font-weight: 400;
        height: 40px;
        transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }

      /* Style for close button on hover */
      .close:hover,
      .close:focus {
        color: #f3c653;
        text-decoration: none;
        cursor: pointer;
      }
      .modal-title {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        margin-bottom: 40px;
      }
      .modal-input {
        font-family: 'Times New Roman', Times, serif;
        font-weight: 700;
        font-size: large;
        height: 54px;
        background-color: #fffdee;
        border: 1px solid #c79002;
        border-radius: 2px;
        padding-left: 12px;
        padding-right: 15px;
        color: #808080;
        width: 355.4px;
      }

      .question-desc {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */

        letter-spacing: 0.02em;

        /* Brown */
        margin-left: 12px;
        margin-top: 8px;
        margin-bottom: 20px;
        color: #c79002;
      }
      /* Style for submit button */
      .submit {
        width: 384px;
        height: 64px;
        background-color: black;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;

        /* White */
        margin-right: 12px;
        color: #ffffff;
        border: 2px solid black;
        padding: 20px 43px;
        cursor: pointer;
        transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      .last-que {
        margin-bottom: 40px;
      }
      .modal-input-check {
        font-family: 'Times New Roman', Times, serif;
        font-weight: 700;
        font-size: large;
        height: 54px;
        background-color: #fffdee;
        border: 1px solid #c79002;
        border-radius: 2px;
        padding-left: 12px;
        padding-right: 15px;
        color: #808080;
        width: 384px;
      }
      .modal-room-type{
        font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: large;
    height: 54px;
    color: #808080;
      }
      .modal-select{
        cursor: pointer;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 700;
        font-size: large;
        height: 54px;
        background-color: #fffdee;
        border: none;
        border-radius: 2px;
        padding-left: 12px;
        padding-right: 15px;
        color: #808080;
        width: 384px;
      }
      /* Style for submit button on hover and focus */
      .submit:hover,
      .submit:focus {
        color: black;
        background-color: #f3c653;
        border: 2px solid #f3c653;
      }

      @media screen and (min-width: 413px) {
        .modal-content {
          width: 414px;
        }
      }

      /*TABLET and COMP*/
      @media (min-width: 1024px) {
        .modal-content {
                  border: 1px solid #F3C653;
        border-radius: 2px;
          width: 712px;
        }
        .modal-form {
          width: 592px;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          flex-direction: column;
          margin-left: 45px;
          margin-right: 40px;
        }
        .submit {
          width: 592px;
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 29px;
          padding-top: 18px;
          padding-bottom: 18px;
          padding-left: 117px;
          padding-right: 117px;
          margin-right: 60px;
        }
        .modal-input {
          width: 274.4px;
          height: 54px;
          padding-top: 0px;
          padding-bottom: 0px;
          padding-right: 0px;
        }
        .modal-input-check {
          width: 288px;
        }
        .last-que {
          margin-bottom: 20px;
        }
        .select {
          background-position: calc(100% - 3px) center;
          background-position-x: 244px;
        }
        .date-icon {
          background-position: calc(100% - 3px) center;
          background-position-x: 244px;
        }
        .rigth-way {
          width: 288px;
          display: flex;
          flex-direction: row;
        }
        .modal-title {
          font-style: normal;
          font-weight: 700;
          font-size: 40px;
          line-height: 46px;
          /* identical to box height */

          letter-spacing: 0.05em;
        }
        .right-side{
          margin-left: 16px;
        }
      }