<section class="about-restourant">
  <div class="container">
    <div class="about-restourant-thumb">
      <h2 class="hidden">About restourant</h2>
      <p class="about-restourant-pretitle">Amet minim mollit non</p>
      <p class="about-restourant-name">MIMIHO</p>
      <p class="about-restourant-text-first">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <picture class="about-restourant-image">
        <source
          srcset="
            ./img/desktop/Desrtop_rest/desk-rest.jpg    1x,
            ./img/desktop/Desrtop_rest/desk-rest@2x.jpg 2x
          "
          media="(min-width: 1280px)"
          type="image/jpeg"
          width="460"
          height="574"
        />
        <source
          srcset="
            ./img/tablet/Tablet_rest/tab-rest.jpg    1x,
            ./img/tablet/Tablet_rest/tab-rest@2x.jpg 2x
          "
          media="(min-width: 1024px)"
          type="image/jpeg"
          width="400"
          height="524"
        />
        <source
          srcset="
            ./img/mobile/Mob-rest/mob-rest.jpg    1x,
            ./img/mobile/Mob-rest/mob-rest@2x.jpg 2x
          "
          media="(max-width: 1023px)"
          type="image/jpeg"
          width="244"
          height="322"
        />
        <img
        class="about-restourant-image-frame"
          src="./img/mobile/Mob-rest/mob-rest.jpg"
          alt="chief cook"
          width="460"
          height="574"
        />
      </picture>
    </div>
    <div class="about-restourant-thumb-second">
      <picture class="about-restourant-img">
        <source
          srcset="
            ./img/desktop/Desrtop_rest/desk-rest2.jpg    1x,
            ./img/desktop/Desrtop_rest/desk-rest2@2x.jpg 2x
          "
          media="(min-width: 1280px)"
          type="image/jpeg"
          width="460"
          height="574"
        />
        <source
          srcset="
            ./img/tablet/Tablet_rest/tab-rest2.jpg    1x,
            ./img/tablet/Tablet_rest/tab-rest2@2x.jpg 2x
          "
          media="(min-width: 1024px)"
          type="image/jpeg"
          width="350"
          height="500"
        />
        <source
          srcset="
            ./img/mobile/Mob-rest/mob-rest2.jpg    1x,
            ./img/mobile/Mob-rest/mob-rest2@2x.jpg 2x
          "
          media="(max-width: 1023px)"
          type="image/jpeg"
          width="200"
          height="278"
        />
        <img
          class="restorant-about-img-frame"
          src="./img/mobile/Mob-rest/mob-rest2.jpg"
          alt="meat"
          width="460"
          height="574"
        />
      </picture>
      <p class="about-restourant-text-second">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <!-- ------------------Slider About restourant ------------------------------- -->
    <div class="slider-about-restourant">
      <picture class="slider-img-width">
        <source
          srcset="
            ./img/slider/Desktop/desk-pizza.jpg    1x,
            ./img/slider/Desktop/desk-pizza@2x.jpg 2x
          "
          media="(min-width: 1280px)"
          type="image/jpeg"
          width="254"
          height="254"
        />
        <source
          srcset="
            ./img/tablet/Tablet_rest/tab-lopes.jpg    1x,
            ./img/tablet/Tablet_rest/tab-lopes@2x.jpg 2x
          "
          media="(min-width: 1024px)"
          type="image/jpeg"
          width="194"
          height="194"
        />
        <source
          srcset="
            ./img/slider/mob/mob-rest2.jpg    1x,
            ./img/slider/mob/mob-rest2@2x.jpg 2x
          "
          media="(max-width: 1023px)"
          type="image/jpeg"
          width="245"
          height="245"
        />
        <img
          class="slider-img-frame"
          src="./img/slider/mob/mob-rest2.jpg"
          alt="work with flour"
          width="254"
          height="254"
        />
      </picture>
      <picture class="slider-img-width">
        <source
          srcset="
            ./img/desktop/Desrtop_rest/desk-khinkali.jpg 1x,
            ./img/desktop/Desrtop_rest/desk-khinkali.jpg 2x
          "
          media="(min-width: 1280px)"
          type="image/jpeg"
          width="254"
          height="254"
        />
        <source
          srcset="
            ./img/tablet/Tablet_rest/tab-brown.jpg    1x,
            ./img/tablet/Tablet_rest/tab-brown@2x.jpg 2x
          "
          media="(min-width: 1024px)"
          type="image/jpeg"
          width="194"
          height="194"
        />
        <source
          srcset="
            ./img/slider/mob/img12.jpg    1x,
            ./img/slider/mob/img12@2x.jpg 2x
          "
          media="(max-width: 1023px)"
          type="image/jpeg"
          width="245"
          height="245"
        />
        <img
          class="slider-img-frame"
          src="./img/slider/mob/img12.jpg"
          alt="set table"
          width="254"
          height="254"
        />
      </picture>
    </div>
  </div>
</section>
