<!-- Rest menu -->
<section class="rest-menu">
    <div class="container">
      <h2 class="restaurant-menu-title">МЕНЮ РЕСТОРАНУ </h2>
      <div class="rest-left-wrap">
      <div class="left-wrap">
        <ul class="restaurant-menu-list">
        
            <h3 class="restaurant-menu-title-text">Гарячі страви</h3>
            <li class="restaurant-menu-item">
            <div class="inner-wraper">
              <div class="holder">
               <p class="restaurant-menu-text">Борщ з телятини з квасолею </p>
               <p class="restaurant-menu-text-meal">Телятина, картопля, капуста, морква, цибуля, квасоля, часник, помідори, зелень, сметана</p>
              </div>
              <p class="restaurant-menu-weight">400 г</p>
              <p class="restaurant-menu-price">240 грн</p>
              
            </div>
          </li>
       <li class="restaurant-menu-item">
         <div class="inner-wraper">
           <div class="holder">
            <p class="restaurant-menu-text">Суп сирний з куркою </p>
            <p class="restaurant-menu-text-meal">Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень</p>
           </div>
            <p class="restaurant-menu-weight">400 г</p>
            <p class="restaurant-menu-price">200 грн</p>
      </div>
          </li>
          <li class="restaurant-menu-item">
          <div class="inner-wraper">
            <div class="holder">
              <p class="restaurant-menu-text">Паста карбонара</p>
              <p class="restaurant-menu-text-meal">Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень</p>
           </div>
              <p class="restaurant-menu-weight">350 г</p>
              <p class="restaurant-menu-price">430 грн</p>
          
              </div>
           </li>
          
        <li class="restaurant-menu-item">
          <div class="inner-wraper">
            <div class="holder">
              <p class="restaurant-menu-text">Стейк зі свинини</p>
              <p class="restaurant-menu-text-meal">Свиняча вирізка, спеціі, подається з соусом солодкий чилі та овочами</p>
            </div>
              <p class="restaurant-menu-weight">400 г</p>
              <p class="restaurant-menu-price">500 грн</p>
          
              </div>
         </li>
          
         <li class="restaurant-menu-item">
           <div class="inner-wraper">
             <div class="holder">
              <p class="restaurant-menu-text">Горбуша в соусі з білого вина</p>
              <p class="restaurant-menu-text-meal">Ніжна горбуша, вершковий соус на основі білого вина</p>
             </div>
              <p class="restaurant-menu-weight">400 г</p>
              <p class="restaurant-menu-price">400 грн</p>
           
               </div>
            </li>  
     </ul>
     <ul class="restaurant-menu-list">
          <h3 class="restaurant-menu-title-text">Гарніри та закуски</h3>
          <li class="restaurant-menu-item">
          <div class="inner-wraper">
            <div class="holder">
              <p class="restaurant-menu-text">Запечені овочі </p>
              <p class="restaurant-menu-text-meal">Кабачок, перець, помідор, баклажан</p>
            </div>
              <p class="restaurant-menu-weight">400 г</p>
              <p class="restaurant-menu-price">240 грн</p>
            
          </div>
        </li>
       <li class="restaurant-menu-item">
        <div class="inner-wraper">
         <div class="holder">
          <p class="restaurant-menu-text">Картопля фрі </p>
          <p class="restaurant-menu-text-meal">Картопля, соус томатний</p>
        </div>
          <p class="restaurant-menu-weight">150 г</p>
          <p class="restaurant-menu-price">160 грн</p>
    
        </div>
       </li>
     <li class="restaurant-menu-item">
      <div class="inner-wraper">
         <div class="holder">
          <p class="restaurant-menu-text">Картопля по-селянськи</p>
          <p class="restaurant-menu-text-meal">Картопля, спеції, соус пікантний</p>
        </div>
          <p class="restaurant-menu-weight">150 г</p>
          <p class="restaurant-menu-price">160 грн</p>
      </div>
     </li>
    <li class="restaurant-menu-item">
    <div class="inner-wraper">
    <div class="holder">
      <p class="restaurant-menu-text">Хрумкі соління з бочки</p>
      <p class="restaurant-menu-text-meal">Огірок солений, помідор квашений, квашена капуста, морква по-корейські</p>
    </div>
      <p class="restaurant-menu-weight">250 г</p>
      <p class="restaurant-menu-price">350 грн</p>
    </div>
    </li>
    <li class="restaurant-menu-item">
    <div class="inner-wraper">
    <div class="holder">
       <p class="restaurant-menu-text">Крильця курячі в медовому соусі</p>
       <p class="restaurant-menu-text-meal">Крильця курячі, гірчично-медовий соус, подається з морквою, селерою і соусом блючиз</p>
    </div>
       <p class="restaurant-menu-weight">400 г</p>
       <p class="restaurant-menu-price">420 грн</p>
    </div>
    </li>
  </ul>
</div>
<div class="right-wrap"> 
    <ul class="restaurant-menu-list">
     <h3 class="restaurant-menu-title-text">Салати</h3>
      <li class="restaurant-menu-item">
        <div class="inner-wraper">
          <div class="holder">
            <p class="restaurant-menu-text">Цезар з куркою </p>
            <p class="restaurant-menu-text-meal">Куряче філе, листя салату, помідори чері, сир пармезан, грінки, соус цезар</p>
          </div>
            <p class="restaurant-menu-weight">230 г</p>
            <p class="restaurant-menu-price">450 грн</p>
        </div>
      </li> 
      <li class="restaurant-menu-item">
       <div class="inner-wraper">
        <div class="holder">
          <p class="restaurant-menu-text">Цезар з креветками </p>
          <p class="restaurant-menu-text-meal">Тигрові креветки, листя салату, помідори чері, сир пармезан, грінки, соус цезар</p>
        </div>
          <p class="restaurant-menu-weight">230 г</p>
          <p class="restaurant-menu-price">300 грн</p>
        
         </div>
        </li>
        <li class="restaurant-menu-item">
         <div class="inner-wraper">
          <div class="holder">
            <p class="restaurant-menu-text">Грецький салат</p>
            <p class="restaurant-menu-text-meal">Свіжі огірок, помідор, болгарський перець, оливки, сир бринза, листя салату, соус</p>
          </div>
            <p class="restaurant-menu-weight">230 г</p>
            <p class="restaurant-menu-price">280 грн</p>
          
          </div>
         </li>
         <li class="restaurant-menu-item">
          <div class="inner-wraper">
            <div class="holder">
              <p class="restaurant-menu-text">М’ясний салат</p>
              <p class="restaurant-menu-text-meal">Куряче філе або свиняча вирізка, свіжі огірок, помідор, болгарський перець, соус ранч</p>
            </div>
              <p class="restaurant-menu-weight">230 г</p>
              <p class="restaurant-menu-price">300 грн</p>
             </div>
            </li>
  </ul>
  <ul class="restaurant-menu-list">
       <h3 class="restaurant-menu-title-text">Десерти </h3>
       <li class="restaurant-menu-item">
      <div class="inner-wraper">
        <div class="holder">
          <p class="restaurant-menu-text">Торт наполеон </p>
       </div>
          <p class="restaurant-menu-weight">230 г</p>
          <p class="restaurant-menu-price">300 грн</p>
        
      </div>
    </li>
   <li class="restaurant-menu-item">
    <div class="inner-wraper">
      <div class="holder">
        <p class="restaurant-menu-text">Торт маковий </p> 
      </div>
        <p class="restaurant-menu-weight">230 г</p>
        <p class="restaurant-menu-price">300 грн</p>
      </div>
      </li>
      <li class="restaurant-menu-item">
       <div class="inner-wraper">
        <div class="holder">
          <p class="restaurant-menu-text">Тірамісу </p> 
        </div>
          <p class="restaurant-menu-weight">120 г</p>
          <p class="restaurant-menu-price">260 грн</p>
        </div>
        </li>
     </ul>
  <!-- </ul> -->
<ul class="restaurant-menu-list">
       <h3 class="restaurant-menu-title-text">Напої</h3>
    <li class="restaurant-menu-item">
      <div class="inner-wraper">
        <div class="holder">
          <p class="restaurant-menu-text">Чай чорний/зелений  </p>
       </div>
          <p class="restaurant-menu-weight">500 г</p>
          <p class="restaurant-menu-price">100 грн</p>
      </div>
    </li>
    <li class="restaurant-menu-item">
     <div class="inner-wraper">
      <div class="holder">
        <p class="restaurant-menu-text">Еспресо </p> 
      </div>
        <p class="restaurant-menu-weight">30 г</p>
        <p class="restaurant-menu-price">100 грн</p>
      </div>
      </li>
     <li class="restaurant-menu-item">
       <div class="inner-wraper">
        <div class="holder">
          <p class="restaurant-menu-text">Американо </p> 
        </div>
          <p class="restaurant-menu-weight">150 г</p>
          <p class="restaurant-menu-price">100 грн</p>
        </div>
        </li>
       <li class="restaurant-menu-item">
        <div class="inner-wraper">
          <div class="holder">
            <p class="restaurant-menu-text">Капучино </p> 
          </div>
            <p class="restaurant-menu-weight">200 г</p>
            <p class="restaurant-menu-price">160 грн</p>
          </div>
          </li>
          <li class="restaurant-menu-item">
           <div class="inner-wraper">
            <div class="holder">
              <p class="restaurant-menu-text">Лате</p> 
            </div>
              <p class="restaurant-menu-weight">200 г</p>
              <p class="restaurant-menu-price">160 грн</p>
            </div>
          </li>
     </ul>
  </div> 
</div>
<button class="restaurant-btn btn" type="button">Забронювати столик</button>
</div> 
</section>
