.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
  .logo-foot {
      font-family: 'Film P3';
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 1.08;
      letter-spacing: 0.3em;
      color: #F3C653;
  }

  .footer {
      padding-left: 44px;
      padding-top: 40px;
      padding-bottom: 40px;
      padding-right: 15px;
      background-color: #0E0C07;
  }

  .footer-soc {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0px;
      gap: 20px;
      margin-left: 272px;
  }

  .footer-soc-icon {
      fill: #F3C653;
  }

  .footer-mob {
      display: flex;
  }

  .footer-soc-tablet {
      display: none;
  }

  .footer-list {
      margin-left: 85px;
      margin-bottom: 32px;
  }

  .footer-link {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
      letter-spacing: 0.02em;
      color: #F3C653;
  }

  .footer-item:not(:last-child) {
      margin-bottom: 16px;
  }
  @media screen and (min-width: 1024px) {
      .container {
          max-width: 930px;
      }

      .contact-mimino-right {
          display: flex;
      }

      .logo-foot {
          font-size: 64px;
          display: inline-block;
          margin-top: 37px;
      }

      .footer {
          padding-left: 107px;
          padding-top: 80px;
          padding-bottom: 80px;
          padding-right: 75px;
      }

      .footer-list {
          margin-left: 163px;
          margin-bottom: 0;
      }

      .footer-soc {
          display: none;
      }

      .footer-soc-tablet {
          display: block;
      }

      .footer-tablet {
          display: flex;
      }

      .footer-soc-link {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 1.25;
          letter-spacing: 0.02em;
          color: #F3C653;
      }

      .footer-soc-link {
          display: flex;
          margin-top: 8px;
          margin-left: 12px;
          margin-right: 12px;
          justify-content: space-between;
      }

      .footer-icon {
          margin-left: 137px;
          width: 144px;
          height: 40px;
          border: 0.5px solid #F3C653;
          border-radius: 2px;
      }

      .footer-icon:not(:last-child) {
          margin-bottom: 12px;
      }
  }
  @media screen and (min-width: 1280px) {
      .container {
          max-width: 1110px;

      }

      .footer {
          padding-left: 107px;
          padding-right: 101px;
      }

      .logo-foot {
          font-size: 64px;
          display: inline-block;
          margin-top: 40px;
      }

      .footer-list {
          margin-left: 231px;
      }

      .footer-icon {
          margin-left: 199px;
      }
  }