<section class="mimino-contacts">
<div class="container">
    <h2>mimiно</h2>
    <h3 class="complex">Ресторанно-готельний комплекс</h3>
    <address>
    <h3 class="restaurant">Ресторан</h3>
    <a href="tel:+0955559533" class="restaurant-tel link"><svg class="caption-address-icon" width="24" height="24">
            <use href="../../img/icon.svg#icon-phone"></use>
        </svg>+095 555 95 33</a>
    <h3 class="restaurant">Готель</h3>
    <a href="tel:+0668491089" class="restaurant-tel link"><svg class="caption-address-icon" width="24" height="24">
            <use href="../../img/icon.svg#icon-phone"></use>
        </svg> +066 849 10 89</a>
    <a href="tel:+0672758540" class="restaurant-tel link">+067 275 85 40</a>
        </svg></a>
    <a href=""><svg class="restaurant-tel link" width="24" height="24">
        <use href="../../img/icon.svg#icon-location"></use>
    </svg>Україна, м. Полтава, вул. Маршала Бірюзова, 15</a>
    </address>
    <div>
    <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2585.923397025346!2d34.5265463!3d49.59919399999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2z0LLRg9C70LjRhtGPINCc0LDRgNGI0LDQu9CwINCR0ZbRgNGO0LfQvtCy0LAsIDE1LCDQn9C-0LvRgtCw0LLQsCwg0J_QvtC70YLQsNCy0YHRjNC60LAg0L7QsdC70LDRgdGC0YwsIDM2MDAw!5e0!3m2!1suk!2sua!4v1676659769623!5m2!1suk!2sua"
        width="384" height="220" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
    </div>
</section>