<section class="hero-homepage">
    <div class="container hero-homepage-container">
        <h1 class="hero-homepage-name">MIMIHO</h1>
        <p class="hero-homerpage-thema">Ресторанно-готельний комплекс</p>
        <p class="hero-homepage-slogan">СМАК ЖИТТЯ 24/7</p>
        <div class="location">
            <address class="location-item">
                <a href="https://goo.gl/maps/QnbdGXvFcmA7h6zF9" class="location-link">
                    <svg class="location-icon" width="20" height="20" >
                        <use href="../img/icon.svg#icon-location"></use>
                    </svg>
                    <span class="location-text">
                        Україна, м. Полтава,
                        вул. Маршала Бірюзова, 15
                    </span>
                </a>
            </address>
        </div>
        <ul class="hero-button-list">
            <li>
                <button class="hero-homepage-button" type="button">Забронювати столик</button>
            </li>
            <li class="hero-button-list-item">
                <button class="hero-homepage-button" type="button">Забронювати номер</button>
            </li>
        </ul>
        
    </div>

</section>