<section class="about-hotel">
  <div class="container">
    <div class="about-hotel-thumb">
      <h2 class="hidden">About hotel</h2>
      <p class="about-hotel-pretitle">Amet minim mollit non</p>
      <p class="about-hotel-name">MIMIHO</p>
      <p class="about-hotel-text-first">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <picture class="about-hotel-image">
        <source
          srcset="
            ./img/desktop/Desrtop_home/desk-modern-studio.jpg    1x,
            ./img/desktop/Desrtop_home/desk-modern-studio@2x.jpg 2x
          "
          media="(min-width: 1280px)"
          type="image/jpeg"
          width="460"
          height="574"
        />
        <source
          srcset="
            ./img/tablet/Tablet_home/modern-studio.jpg    1x,
            ./img/tablet/Tablet_home/modern-studio@2x.jpg 2x
          "
          media="(min-width: 1024px)"
          type="image/jpeg"
          width="400"
          height="524"
        />
        <source
          srcset="
            ./img/mobile/Mob-homepage/mob-modern-studio.jpg    1x,
            ./img/mobile/Mob-homepage/mob-modern-studio@2x.jpg 2x
          "
          media="(max-width: 1023px)"
          type="image/jpeg"
          width="244"
          height="322"
        />
        <img
          class="about-hotel-image-frame"
          src="./img/mobile/Mob-homepage/mob-modern-studio.jpg "
          alt="hotel room"
          width="460"
          height="574"
        />
      </picture>
    </div>
    <div class="about-hotel-thumb-second">
      <p class="about-hotel-text-second">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <picture class="about-hotel-img">
        <source
          srcset="
            ./img/desktop/Desrtop_home/desk-hotel.jpg    1x,
            ./img/desktop/Desrtop_home/desk-hotel@2x.jpg 2x
          "
          media="(min-width: 1280px)"
          type="image/jpeg"
          width="460"
          height="574"
        />
        <source
          srcset="
            ./img/tablet/Tablet_home/tab-hotel2.jpg    1x,
            ./img/tablet/Tablet_home/tab-hotel2@2x.jpg 2x
          "
          media="(min-width: 1024px)"
          type="image/jpeg"
          width="350"
          height="500"
        />
        <source
          srcset="
            ./img/mobile/Mob-homepage/mob-hotel.jpg    1x,
            ./img/mobile/Mob-homepage/mob-hotel@2x.jpg 2x
          "
          media="(max-width: 1023px)"
          type="image/jpeg"
          width="200"
          height="278"
        />
        <img
          class="about-hotel-img-frame"
          src="./img/mobile/Mob-homepage/mob-hotel.jpg "
          alt="lobby"
          width="460"
          height="574"
        />
      </picture>
    </div>
    <!-- ------------------Slider about hotel------------------------------- -->
    <div class="slider-about-hotel">
      <picture class="slider-img-width">
        <source
          srcset="
            ./img/slider/Desktop/desk-decoration-bedroom.jpg    1x,
            ./img/slider/Desktop/desk-decoration-bedroom@2x.jpg 2x
          "
          media="(min-width: 1280px)"
          type="image/jpeg"
          width="254"
          height="254"
        />
        <source
          srcset="
            ./img/tablet/Tablet_home/tab-bedroom.jpg    1x,
            ./img/tablet/Tablet_home/tab-bedroom@2x.jpg 2x
          "
          media="(min-width: 1024px)"
          type="image/jpeg"
          width="194"
          height="194"
        />
        <source
          srcset="
            ./img/mobile/Mob-homepage/mob-hotel-registration.jpg    1x,
            ./img/mobile/Mob-homepage/mob-hotel-registration@2x.jpg 2x
          "
          media="(max-width: 1023px)"
          type="image/jpeg"
          width="245"
          height="245"
        />
        <img
          class="slider-img-frame-hotel"
          src="./img/mobile/Mob-homepage/mob-hotel-registration.jpg "
          alt="reception"
          width="254"
          height="254"
        />
      </picture>
      <picture class="slider-img-width">
        <source
          srcset="
            ./img/slider/Desktop/desk-hotel-registration.jpg    1x,
            ./img/slider/Desktop/desk-hotel-registration@2x.jpg 2x
          "
          media="(min-width: 1280px)"
          type="image/jpeg"
          width="254"
          height="254"
        />
        <source
          srcset="
            ./img/tablet/Tablet_home/hotel-registration1.jpg    1x,
            ./img/tablet/Tablet_home/hotel-registration1@2x.jpg 2x
          "
          media="(min-width: 1024px)"
          type="image/jpeg"
          width="194"
          height="194"
        />
        <source
          srcset="
            ./img/slider/mob/img10.jpg    1x,
            ./img/slider/mob/img10@2x.jpg 2x
          "
          media="(max-width: 1023px)"
          type="image/jpeg"
          width="245"
          height="245"
        />
        <img
          class="slider-img-frame-hotel"
          src="./img/slider/mob/img10.jpg "
          alt="terry towels"
          width="254"
          height="254"
        />
      </picture>
    </div>
    <ul class="slider-narrows-hotel">
      <li class="slider-narrows-left">
          <svg class="slider-narrows-left-icon" width="32" height="17">
            <use href="../../img/icon.svg#icon-vector-left"></use>
          </svg>
        </li>
      <li class="slider-narrows-right">
        <svg class="slider-narrows-right-icon" width="32" height="17">
          <use href="../../img/icon.svg#icon-vector-right"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
