<style>
  /* Style for modal background */
  .body {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
  }
  select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url(/src/img/down-arrow.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 3px) center;
    background-position-x: 347px;
  }
  input {
    appearance: none;
  }
  .date-icon {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url(/src/img/down-arrow.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 3px) center;
    background-position-x: 347px;
  }
  .modal-form {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 384px;
  }
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }

  /* Style for modal content */
  .modal-content {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    width: 42.5%;
    margin: 10% auto;
    padding: 20px;
    padding-bottom: 60px;
    border: 1px solid #888;
    background-color: #fffdee;
  }

  /* Style for close button */
  .close {
    float: right;
    font-size: 34px;
    font-weight: 400;
    height: 40px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* Style for close button on hover */
  .close:hover,
  .close:focus {
    color: #f3c653;
    text-decoration: none;
    cursor: pointer;
  }
  .modal-title {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .modal-input {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: large;
    height: 54px;
    background-color: #fffdee;
    border: 1px solid #c79002;
    border-radius: 2px;
    padding-left: 12px;
    padding-right: 15px;
    color: #808080;
    width: 384px;
  }

  .question-desc {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    letter-spacing: 0.02em;

    /* Brown */
    margin-left: 12px;
    margin-top: 8px;
    margin-bottom: 20px;
    color: #c79002;
  }
  /* Style for submit button */
  .submit {
    width: 388px;
    height: 64px;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    /* White */
    margin-left: 12px;
    margin-right: 12px;
    color: #ffffff;
    border: 2px solid black;
    padding: 20px 43px;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .last-que {
    margin-bottom: 40px;
  }
  .modal-input-check {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: large;
    height: 54px;
    background-color: #fffdee;
    border: 1px solid #c79002;
    border-radius: 2px;
    padding-left: 12px;
    padding-right: 15px;
    color: #808080;
    width: 384px;
  }

  /* Style for submit button on hover and focus */
  .submit:hover,
  .submit:focus {
    color: black;
    background-color: #f3c653;
    border: 2px solid #f3c653;
  }

  @media screen and (min-width: 413px) {
    .modal-content {
      width: 454px;
    }
  }
  /*TABLET and COMP*/
  @media (min-width: 1024px) {
    .modal-content {
      width: 712px;
    }

    .modal-form {
      width: 600px;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      padding-left: 0px;
      padding-right: 10px;
      padding-bottom: 20px;
      margin-left: 40px;
      margin-right: 40px;
    }
    .submit {
      width: 595px;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      padding-top: 18px;
      padding-bottom: 18px;
      padding-left: 117px;
      padding-right: 117px;
      margin-left: 37px;
    }
    .modal-input {
      width: 288px;
      height: 54px;
      padding-top: 0px;
      padding-bottom: 0px;
      padding-right: 0px;
    }
    .modal-input-check {
      width: 288px;
    }
    .last-que {
      margin-bottom: 20px;
    }
    .select {
      background-position: calc(100% - 3px) center;
      background-position-x: 244px;
    }
    .date-icon {
      background-position: calc(100% - 3px) center;
      background-position-x: 244px;
    }
    .rigth-way {
      width: 288px;
      display: flex;
      flex-direction: column;
    }
    .modal-title {
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 46px;
      /* identical to box height */

      letter-spacing: 0.05em;
    }
  }
</style>
<section class="rest-info">
        <div class="rest-info-container container">
            <div class="rest-info-texts">
                <p class="rest-info-mimino">MIMIHO</p>
                <h3 class="rest-info-title">Ресторан</h3>
                <p class="rest-info-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
                    Velit officia consequat duis enim velit mollit.</p>
            </div>
            <div class="rest-info-wrap">
                
                <div class="rest-info-slider">
                    <div class="rest-info-swiper-slider">
                        <img src="./img/slider/mob/img7.jpg" alt="room_wiht_bath" 
                        srcset="./img/slider/mob/img7.jpg 1x, 
                                ./img/slider/mob/img7@2x.jpg 2x" 
                width="270" height="270">
                        <img src="./img/slider/mob/img9.jpg" alt="room_wiht_sofa" 
                        srcset="./img/slider/mob/img9.jpg 1x, 
                                ./img/slider/mob/img9@2x.jpg 2x" 
                width="270" height="270">
                        <img src="./img/slider/mob/img12.jpg" alt="room_wiht_bath" 
                        srcset="./img/slider/mob/img12.jpg 1x, 
                                ./img/slider/mob/img12@2x.jpg 2x" 
                width="270" height="270">
                
                    </div>
                    <div class="rest-info-nav">
                        <button type="button" class="rest-info-nav-prev">
                         <svg class="rest-info-nav-prev-svg" width="30" height="17">
                            <use href="../../img/icon.svg#icon-slider-left"></use>
                         </svg>
                        </button>
                        <button type="button" class="rest-info-nav-next">
                         <svg class="rest-info-nav-next-svg" width="30" height="17">
                            <use href="../../img/icon.svg#icon-slider-right"></use>
                         </svg>
                        </button>
                    </div>
                </div>

                <div class="rest-info-button">
                    <div class="rest-info-btn-wrapper">
                    <button type="button" class="rest-info-btn" onclick="openModal()">Забронювати столик</button>
                    <a href="./restoraunt.html" target="_blank" class="rest-info-link link">Переглянути меню</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
    <div id="myModal" class="modal">
      <!-- Modal content -->

      <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>

        <div class="">
          <h2 class="modal-title" style="color: black">ЗАБРОНЮВАТИ СТОЛИК</h2>
          <div class="modal-form">
            <div class="rigth-way">
              <div>
                <input
                  class="modal-input"
                  type="text"
                  id="name"
                  name="name"
                  required
                  placeholder="Ваше ім’я"
                />
                <p
                  class="question-desc rigth-way2"
                  style="margin-bottom: 20px;"
                >
                  На кого забронювати столик?
                </p>
              </div>

              <div>
                <input
                  class="modal-input"
                  type="number"
                  id="phone"
                  name="phone"
                  required
                  pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
                  placeholder="+38 (___) ___-__-__"
                />
                <p class="question-desc" style="margin-bottom: 20px;">Номер телефону</p>
              </div>
            </div>

            <div class="rigth-way">
              <div>
                <select
                  class="modal-input-check select"
                  id="select1"
                  name="select1"
                  required
                >
                  <option value="option1">1</option>
                  <option value="option2">2</option>
                  <option value="option3">3</option>
                  <option value="option4">4</option>
                  <option value="option5">5</option>
                  <option value="option6">6</option>
                  <option value="option7">7</option>
                  <option value="option8">8</option>
                  <option value="option9">9</option>
                  <option value="option10">Party (more then 10)</option>
                </select>
                <p
                  class="question-desc"
                  style="margin-bottom: 20px;"
                >
                  Столик на яку кількість осіб?
                </p>
              </div>

              <div>
                <input
                  placeholder="Сьогодні"
                  class="modal-input date-icon"
                  type="text"
                  id="date"
                  required
                  onfocus="  (this.type='date')"
                  onblur="(this.type='text')"
                />
                <p class="question-desc" style="margin-bottom: 20px;">На яку дату бронювати?</p>
              </div>
            </div>
          </div>

          <button
            class="submit modal-form-btn-submit"
            type="submit"
            id="submitBtn"
          >
            ОФОРМИТИ БРОНЮВАННЯ
          </button>
        </div>
      </div>
    </div>
    <script>
      // Get the modal
      var modal = document.getElementById('myModal');

      // Get the button that opens the modal
      var btn = document.getElementById('myBtn');

      // Get the <span> element that closes the modal
      var span = document.getElementsByClassName('close')[0];

      var submitBtn = document.getElementById('submitBtn');

      // Function to open the modal
      function openModal() {
        modal.style.display = 'block';
      }

      // Function to close the modal
      function closeModal() {
        modal.style.display = 'none';
      }
      // When the user clicks on the submit button, close the modal
      submitBtn.onclick = function () {
        modal.style.display = 'none';
      };

      // Close the modal when user clicks outside of it
      window.onclick = function (event) {
        if (event.target == modal) {
          closeModal();
        }
      };
      (() => {
        const refs = {
          openModalBtn: document.querySelector('[data-modal-open]'),
          closeModalBtn: document.querySelector('[data-modal-close]'),
          modal: document.querySelector('[data-modal]'),
        };

        refs.openModalBtn.addEventListener('click', toggleModal);
        refs.closeModalBtn.addEventListener('click', toggleModal);

        function toggleModal() {
          refs.modal.classList.toggle('is-hidden');
        }
      })();
    </script>
    </section>