<!-- About restourant -->
<section class="about-restorant">
    <p class="about-restorant-pretitle">Amet minim mollit non</p>
    <h2 class="hidden">About restourant</h2>
    <p class="about-restorant-name">MIMIHO</p>
    <div>
    <p class="about-restorant-text-first">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
              <img class="about-restorant-image" src="" alt="restourant hall" width="244" height="322">
          </div>
    <div>
            <img class="about-restorant-img" src="" alt="restourant hall"  width="200" height="278">
        <p class="about-restorant-text-second">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    </div>
    <!-- ------------------Slider restourant------------------------------- -->
    <div>
            <img src="" alt="tables" width="245" height="245">
            <img src="" alt="kitchen" width="245" height="245">
    </div>
 </section>  