<!-- Restourant About  -->
<section class="restorant-about container">
  <div class="restorant-about-thumb">
    <h2 class="hidden">About restourant</h2>
    <p class="restorant-about-pretitle">Amet minim mollit non</p>
    <p class="restorant-about-name">MIMIHO</p>
    <p class="restorant-about-text-first">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <picture>
      <source
        srcset="
          ./img/desktop/Desrtop_home/desk-rest-inter.jpg    1x,
          ./img/desktop/Desrtop_home/desk-rest-inter@2x.jpg 2x
        "
        media="(min-width: 1280px)"
        type="image/jpeg"
        width="460"
        height="574"
      />
      <source
        srcset="
          ./img/tablet/Tablet_home/tab-home-rest.jpg    1x,
          ./img/tablet/Tablet_home/tab-home-rest@2x.jpg 2x
        "
        media="(min-width: 1024px)"
        type="image/jpeg"
        width="400"
        height="524"
      />
      <source
        srcset="
          ./img/mobile/Mob-homepage/mob-rest-inter.jpg    1x,
          ./img/mobile/Mob-homepage/mob-rest-inter@2x.jpg 2x
        "
        media="(max-width: 1023px)"
        type="image/jpeg"
        width="244"
        height="322"
      />
      <img
        class="restorant-about-image"
        src="./img/mobile/Mob-homepage/mob-rest-inter.jpg"
        alt="restourant hall"
        width="244"
        height="322"
      />
    </picture>
  </div>
  <div class="restorant-about-thumb-second">
    <picture>
      <source
        srcset="
          ./img/desktop/Desrtop_home/desk-interior.jpg    1x,
          ./img/desktop/Desrtop_home/desk-interior@2x.jpg 2x
        "
        media="(min-width: 1280px)"
        type="image/jpeg"
        width="460"
        height="574"
      />
      <source
        srcset="
          ./img/tablet/Tablet_home/tab-hotel.jpg    1x,
          ./img/tablet/Tablet_home/tab-hotel@2x.jpg 2x
        "
        media="(min-width: 1024px)"
        type="image/jpeg"
        width="350"
        height="500"
      />
      <source
        srcset="
          ./img/mobile/Mob-homepage/mob-interior.jpg    1x,
          ./img/mobile/Mob-homepage/mob-interior@2x.jpg 2x
        "
        media="(max-width: 1023px)"
        type="image/jpeg"
        width="200"
        height="278"
      />
      <img
        class="restorant-about-img"
        src="./img/mobile/Mob-homepage/mob-interior.jpg"
        alt="restourant hall"
        width="200"
        height="278"
      />
    </picture>
    <p class="restorant-about-text-second">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
  </div>
  <!-- ------------------Slider restourant about------------------------------- -->
  <div class="slider-restourant-about">
    <picture>
      <source
        srcset="
          ./img/desktop/Desrtop_home/desk-rest-helena.jpg    1x,
          ./img/desktop/Desrtop_home/desk-rest-helena@2x.jpg 2x
        "
        media="(min-width: 1280px)"
        type="image/jpeg"
        width="254"
        height="254"
      />
      <source
        srcset="
          ./img/tablet/Tablet_home/tab-rest-helena.jpg    1x,
          ./img/tablet/Tablet_home/tab-rest-helena@2x.jpg 2x
        "
        media="(min-width: 1024px)"
        type="image/jpeg"
        width="194"
        height="194"
      />
      <source
        srcset="
          ./img/mobile/Mob-homepage/.jpg    1x,
          ./img/mobile/Mob-homepage/@2x.jpg 2x
        "
        media="(max-width: 1023px)"
        type="image/jpeg"
        width="245"
        height="245"
      />
      <img
        src="./img/mobile/Mob-homepage/.jpg"
        alt="glass of wine"
        width="245"
        height="245"
      />
    </picture>
    <picture>
      <source
        srcset="
          ./img/desktop/Desrtop_home/desk-rest-mat-brown.jpg    1x,
          ./img/desktop/Desrtop_home/desk-rest-mat-brown@2x.jpg 2x
        "
        media="(min-width: 1280px)"
        type="image/jpeg"
        width="254"
        height="254"
      />
      <source
        srcset="
          ./img/tablet/Tablet_home/tab-rest--mat-brown.jpg   1x,
          ./img/tablet/Tablet_home/tab-rest-mat-brown@2x.jpg 2x
        "
        media="(min-width: 1024px)"
        type="image/jpeg"
        width="194"
        height="194"
      />
      <source
        srcset="
          ./img/mobile/Mob-homepage/.jpg    1x,
          ./img/mobile/Mob-homepage/@2x.jpg 2x
        "
        media="(max-width: 1023px)"
        type="image/jpeg"
        width="245"
        height="245"
      />
      <img
        src="./img/mobile/Mob-homepage/.jpg "
        alt="tea"
        width="245"
        height="245"
      />
    </picture>
  </div>
</section>
