 <section class="rest-info">
        <div class="rest-info-container container">
            <div class="rest-info-texts">
                <p class="rest-info-mimino">MIMIHO</p>
                <h3 class="rest-info-title">Ресторан</h3>
                <p class="rest-info-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
                    Velit officia consequat duis enim velit mollit.</p>
            </div>
            <div class="rest-info-wrap">
                
                <div class="rest-info-slider">
                    <div class="rest-info-swiper-slider">
                        <img src="./img/slider/mob/img7.jpg" alt="room_wiht_bath" 
                        srcset="./img/slider/mob/img7.jpg 1x, 
                                ./img/slider/mob/img7@2x.jpg 2x" 
                width="270" height="270">
                        <img src="./img/slider/mob/img9.jpg" alt="room_wiht_sofa" 
                        srcset="./img/slider/mob/img9.jpg 1x, 
                                ./img/slider/mob/img9@2x.jpg 2x" 
                width="270" height="270">
                        <img src="./img/slider/mob/img12.jpg" alt="room_wiht_bath" 
                        srcset="./img/slider/mob/img12.jpg 1x, 
                                ./img/slider/mob/img12@2x.jpg 2x" 
                width="270" height="270">
                    </div>
                </div>
                <div class="rest-info-button">
                    <button type="button" class="rest-info-btn">Забронювати столик</button>
                    <a href="./restoraunt.html" target="_blank" class="rest-info-link link">Переглянути меню</a>
                </div>
            </div>
        </div>
    </section>