.hero-homepage{
  max-width: 100%;
  max-height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
  url('../../img/mobile/Mob-homepage/mob-hero.jpg');
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero-homepage {
        background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url('../../img/mobile/Mob-homepage/mob-hero@2x.jpg');
    }
}



@media screen and (min-width: 1024px) {
.hero-homepage{
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
  url('../../img/tablet/Tablet_home/tab-hero.jpg');
}

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .rest-info {
                background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
                url('../../img/tablet/Tablet_home/tab-hero@2x.jpg');
            }
        }

}



@media screen and (min-width: 1280px) {
.hero-homepage{
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
  url('../../img/desktop/Desrtop_home/desk-hero.jpg');
}

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .rest-info {
                background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
                url('../../img/desktop/Desrtop_home/desk-hero@2x.jpg');
            }
        }
}


















/* HERO */
  .hero-homepage-container{
     padding-top: 181px;
      padding-bottom: 102px;
  }

  .hero-homepage-name{
    display: flex;
    justify-content: space-around;
    font-family: 'Film P3';
    font-weight: 700;
    font-size: 96px;
    line-height: 1.107;
    letter-spacing: 0.3em;
    color: #FFFFFF;

}

  .hero-homerpage-thema{
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
    color: #FFFFFF;

    width: 294px;

    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero-homepage-slogan{
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 32px;
    line-height: 1.156;
    letter-spacing: 0.05em;
    color: #FFFFFF;

    width: 330px;

    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero-button-list{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero-homepage-button{
    display: inline-block;
    padding: 14px 24px;
    min-width: 236px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;

    margin-top: 113px;


    color: #F3C653;

    background: rgba(0, 0, 0, 0.4);
    border: 2px solid #FFFFFF;
    border-radius: 25px;

 
  }

  .hero-homepage-button:last-child{
    margin-top: 24px;

  }

  @media screen and (min-width: 1024px) {
  
  .hero-homepage-name{
    font-family: 'Film P3';
    font-weight: 700;
    font-size: 128px;
    line-height: 1.078;
    letter-spacing: 0.3em;
    color: #FFFFFF;

    padding-top: 188px;
  }

  .hero-homerpage-thema{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #FFFFFF;

    width: 368px;

    margin-top: 16px;
  }

  .hero-homepage-slogan{
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.079;
    letter-spacing: 0.05em;
    color: #FFFFFF;

    width: 360px;

    margin-top: 56px;
  }

  .hero-button-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .hero-button-list-item{
    margin-right: 47px;
  }

  .hero-homepage-button{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    margin-top: 145px;
    margin-left: 460px;

    color: #F3C653;

    background: rgba(0, 0, 0, 0.4);
    border: 2px solid #FFFFFF;
    border-radius: 25px;

    padding: 14px 24px;
  }

  .hero-homepage-button:last-child{
    margin-top: 145px;
    margin-left: 40px;
  }
  }




  @media screen and (min-width: 1280px) {
  .hero-homepage-container{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 0;
        width: 100%;
    }
  
  .hero-homepage-name{
    display: flex;
    justify-content: space-around;
    font-family: 'Film P3';
    font-weight: 700;
    font-size: 128px;
    line-height: 1.078;
    letter-spacing: 0.3em;
    color: #FFFFFF;

    margin-left: 0;
  }

  .hero-homerpage-thema{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #FFFFFF;

    width: 368px;

    margin-left: auto;
    margin-right: auto;
  }

  .hero-homepage-slogan{
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.079;
    letter-spacing: 0.05em;
    color: #FFFFFF;

    width: 360px;

    margin-top: 64px;
    /* margin-left: 370px; */
    margin-left: auto;
    margin-right: auto;
  }

  .hero-button-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .hero-homepage-button{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    margin-top: 144px;
    margin-left: 570px;

    color: #F3C653;

    background: rgba(0, 0, 0, 0.4);
    border: 2px solid #FFFFFF;
    border-radius: 25px;

    padding: 14px 24px;
  }

  .hero-homepage-button:last-child{
    margin-top: 144px;
    margin-left: 60px;
  }

  .hero-button-list-item{
    margin-right: 85px;
  }
  }