@import url(../reset.css);

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.02em;
    color: var(--main-color);
    background-color: var(--main-bkg-color);
  }

.container {
    max-width: 413px;
  
    padding-left: 15px;
    padding-right: 15px;
  
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 414px) {
    .container {
      max-width: 414px;
    }
  }
@media screen and (min-width: 1024px) {
    .container {
      max-width: 960px;
    }
  }
@media screen and (min-width: 1280px) {
    .container {
      max-width: 1140px;
    }
  }
  

  /* HERO */
    .hero-homepage{
        position: relative;
        max-width: 1440px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url(../../img/mobile/Mob-homepage/mob-hero.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 0;
        margin-left: auto;
        margin-right: auto;
    }

  .hero-homepage-name{
    font-family: 'Film P3';
    font-weight: 700;
    font-size: 96px;
    line-height: 1.107;
    letter-spacing: 0.3em;
    color: #FFFFFF;

    padding-top: 181px;
    margin-left: 56px;
  }

  .hero-homerpage-thema{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #FFFFFF;

    width: 294px;

    margin-top: 24px;
    margin-left: 60px;
  }

  .hero-homepage-slogan{
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 32px;
    line-height: 1.156;
    letter-spacing: 0.05em;
    color: #FFFFFF;

    width: 330px;

    margin-top: 40px;
    margin-left: 49px;
  }

  .hero-homepage-button{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    margin-top: 113px;
    margin-left: 89px;

    color: #F3C653;

    background: rgba(0, 0, 0, 0.4);
    border: 2px solid #FFFFFF;
    border-radius: 25px;

    padding: 14px 24px;
  }

  .hero-homepage-button:last-child{
    margin-top: 24px;
    margin-bottom: 102px;
  }

  @media screen and (min-width: 1024px) {
    .hero-homepage-container{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(../../img/tablet/Tablet_home/tab-hero.jpg);
  }
  
  .hero-homepage-name{
    font-family: 'Film P3';
    font-weight: 700;
    font-size: 128px;
    line-height: 1.078;
    letter-spacing: 0.3em;
    color: #FFFFFF;

    padding-top: 188px;
    margin-left: 310px;
  }

  .hero-homerpage-thema{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #FFFFFF;

    width: 368px;

    margin-top: 16px;
    margin-left: 320px;
  }

  .hero-homepage-slogan{
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.079;
    letter-spacing: 0.05em;
    color: #FFFFFF;

    width: 360px;

    margin-top: 56px;
    margin-left: 325px;
  }

  .hero-homepage-button{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    margin-top: 145px;
    margin-left: 460px;

    color: #F3C653;

    background: rgba(0, 0, 0, 0.4);
    border: 2px solid #FFFFFF;
    border-radius: 25px;

    padding: 14px 24px;
  }

  .hero-homepage-button:last-child{
    margin-top: 145px;
    margin-left: 40px;
  }
  }




  @media screen and (min-width: 1280px) {
    .hero-homepage{
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url(../../img/desktop/Desrtop_home/desk-hero.jpg);
    }
  
  .hero-homepage-name{
    font-family: 'Film P3';
    font-weight: 700;
    font-size: 128px;
    line-height: 1.078;
    letter-spacing: 0.3em;
    color: #FFFFFF;

    margin-left: 350px;
  }

  .hero-homerpage-thema{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #FFFFFF;

    width: 368px;

    margin-top: 32px;
    margin-left: 370px;
  }

  .hero-homepage-slogan{
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.079;
    letter-spacing: 0.05em;
    color: #FFFFFF;

    width: 360px;

    margin-top: 64px;
    margin-left: 370px;
  }

  .hero-homepage-button{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    margin-top: 144px;
    margin-left: 570px;

    color: #F3C653;

    background: rgba(0, 0, 0, 0.4);
    border: 2px solid #FFFFFF;
    border-radius: 25px;

    padding: 14px 24px;
  }

  .hero-homepage-button:last-child{
    margin-top: 144px;
    margin-left: 60px;
  }
  }