
 .hotel-info {
    max-width: 100%;
    min-width: 320px;
    min-height: 735px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
            url('../../img/mobile/Mob-homepage/mob-room.jpg');
        }



.hotel-info-container {
    padding-top: 24px;
    padding-bottom: 40px;
    
    
    
}


@media screen and (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hotel-info {
        background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
            url('../../img/mobile/Mob-homepage/mob-room@2x.jpg');
    }
}





.hotel-info-texts {
    margin-bottom: 48px;
    padding-right: 33%;
    padding-left: 32px;
}


.hotel-info-mimino {
    font-family: 'Film P3';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    width: 127px;
    height: 43px;
    line-height: 1.07;
    letter-spacing: 0.3em;
    color: #FFFFFF;
    margin-bottom: 12px;
    text-align: right;
    margin-right: -13px;
    
}




.hotel-info-title {
    width: 73px;
    height: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: right;
    margin-bottom: 20px;
}




.hotel-info-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    width: 243px;
    height: 62px;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #BABABA;
    text-align: left;
    margin-right: -7px;
    
}



.hotel-info-slider {
    margin-bottom: 40px;
}

.hotel-info-swiper-slider {
    display: flex;
    gap: 20px;
    overflow: hidden;

}

.hotel-info-nav {
    margin-top: 24px;
    position: relative;
    width:100%;
    height: 24px;
    
}
.hotel-info-wrap-nav{
    position:absolute;
    right:0;
    bottom:0;
}

.hotel-info-nav-prev,
.hotel-info-nav-next {
    background-color: transparent;
    border: none;
}

.hotel-info-nav-prev-svg,
.hotel-info-nav-next-svg {
    fill: #FFFFFF;
    transition: fill var(--timing-duration) var(--timing-function);
}

.hotel-info-nav-prev-svg:hover,
.hotel-info-nav-prev-svg:focus,
.hotel-info-nav-next-svg:hover,
.hotel-info-nav-next-svg:focus {
 fill: var(--accent-color);
}





.hotel-info-button {
    flex-basis: 100%;
    text-align: center;
    
}


.hotel-info-btn {
    display: block;
    font-style: normal;
    font-weight: 700;
    width: 236px;
    height: 48px;
    left: 89px;
    top: 583px;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 25px;
    color: var(--accent-color);
    margin: auto;
    margin-bottom: 16px;
    transition: background-color var(--timing-duration) var(--timing-function),
    border var(--timing-duration) var(--timing-function);
}



.hotel-info-btn:hover,
.hotel-info-btn:focus {
    background-color: #FFFFFF;
    border: 2px solid var(--accent-color);
}


.hotel-info-link {
    display: block;
    font-style: normal;
    width: 236px;
    height: 48px;
    padding: 14px 31px;
    background: transparent rgba(0, 0, 0, 0.4);
    border: 2px solid #FFFFFF;
    border-radius: 25px;
    color: var(--accent-color);
    font-weight: 700;
    margin: auto;
    transition: background-color var(--timing-duration) var(--timing-function), 
    border var(--timing-duration) var(--timing-function);

}


.hotel-info-link:hover,
.hotel-info-link:focus {
    background-color: #FFFFFF;
    border: 2px solid var(--accent-color);
}

@media screen and (min-width: 1024px) {

    .hotel-info {
            min-height: 620px;    
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
                url('../../img/tablet/Tablet_home/tab-room.jpg');

    }
    .hotel-info-container {
        padding-top: 48px;
        padding-bottom: 40px;
        padding-left: 47px;
    }


        @media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2),
        (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2),
        (min-width: 1024px) and (min-resolution: 192dpi),
        (min-width: 1024px) and (min-resolution: 2dppx) {
        .hotel-info {
            background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
                url('../../img/tablet/Tablet_home/tab-room@2x.jpg');
        }
    }
    
    .hotel-info-texts {
        margin-bottom: 40px;
        padding-right: 33%;
        padding-left: 197px;
    }

    .hotel-info-mimino {
        font-size: 64px;
        width: 202px;
        height: 69px;
    }

    .hotel-info-title {
        font-size: 24px;
        width: 87px;
        height: 29px;
    }

    .hotel-info-text {
        font-size: 16px;
        width: 549px;
        height: 44px;
        margin-right: auto;
    }

    .hotel-info-wrap {
        display: flex;
        align-items: baseline;
        gap: 18px;
        
    }

        .hotel-info-nav {
           
        }

    .hotel-info-button {
        align-items: flex-start;
        padding-bottom: 0;
        flex-basis: 30%;
        position: relative;
       
    }

    .hotel-info-btn-wrapper {
        position: absolute;
        bottom: 0;
        left:0;
        
    }

    
    
    .hotel-info-slider {
        align-items: flex-start;
        width: 70%;
    }

}

@media screen and (min-width: 1280px) {
    .hotel-info {
        max-width: 1280px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
                url('../../img/desktop/Desrtop_home/desk-bed-room.jpg');
    }
    .hotel-info-container {
            padding-bottom: 48px;
            
        }
    
    
    @media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2),
    (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2),
    (min-width: 1024px) and (min-resolution: 192dpi),
    (min-width: 1024px) and (min-resolution: 2dppx) {
            .hotel-info {
                background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
                    url('../../img/desktop/Desrtop_home/desk-bed-room@2x.jpg');
            }
        }
        
                .hotel-info-text {
                    width: 595px;
                    height: 44px;
                    
                }

}