.rest-info {
    
}

.rest-info-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url('../../img/mobile/Mob-homepage/mob-goblet.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.65);
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .rest-info-container {
        background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
                url('../../img/mobile/Mob-homepage/mob-goblet@2x.jpg');
    }
}

.hotel-info-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
            url('../../img/mobile/Mob-homepage/mob-room.jpg');

}



.hotel-info-texts {
    margin-bottom: 48px;
    padding-left: 33%;
    padding-top: 24px;
}


.rest-info-mimino {
    font-family: 'Film P3';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 0.9;
    letter-spacing: 0.3em;
    color: #FFFFFF;
    margin-bottom: 12px;
}


.rest-info-title {
    margin-bottom: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 0.8;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}


.rest-info-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.02em;
    color: #BABABA;
}

/* .rest-info-wrap{
display: flex;
} */

.rest-info-slider {

}

.swiper-slider {
    display: flex;
    gap: 20px;
    
}



.rest-info-button, .hotel-info-button {
    flex-basis: 100%;
    margin-top: 40px;
    text-align: center;
    padding-bottom: 40px;
    
    
}

.rest-info-btn, .hotel-info-btn {
    display: block;
    font-style: normal;
    font-weight: 700;
    width: 236px;
    height: 48px;
    left: 89px;
    top: 583px;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 25px;
    color: var(--accent-color);
    margin: auto;   
}

.rest-info-btn:hover,
.rest-info-btn:focus {
    background-color: #FFFFFF;
    border: 2px solid var(--accent-color);
}



.rest-info-link {
    display: block;
    font-style: normal;
    width: 236px;
    height: 48px;
    padding: 14px 31px;
    background: transparent rgba(0, 0, 0, 0.4);
    border: 2px solid #FFFFFF;
    border-radius: 25px;
    color: var(--accent-color);
    font-weight: 700;
    margin: auto;
    margin-top: 16px;
    padding: 14px 29px;
}



.rest-info-link:hover,
.rest-info-link:focus {
    background-color: #FFFFFF;
    border: 2px solid var(--accent-color);
}

